*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(01, 66, 44);
}

h1{
    color: #367e8a;
    margin: 10px;
}

label{
    color: #268665;
    padding-left: 3%;
}

button{
    background-color: #32383d;
    color: #a5a6aa;
    padding: 5px;
    width: 25%;
    border-radius: 5px; 

}

#Btfinanca{
    width: 40px;
}

h2{
    color: #268665;
    text-align: center;
}

p{
    color: #268665;
    padding: 10px;
    padding-left: 3%;
}

input{
    height: 30px;
    border-radius: 10px;
}

#divBt{
    padding: 20px;
    text-align: center;  
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}